textarea {
    width: 100%;
    height: auto;
    resize: none;
}

.title {
    margin-top: 25px;
    margin-bottom: 25px;
}

label input {
    margin-right:10px;
}

#bottom {
    display: inline-block;
}
